
        .contenidorFormPregunta {
            display: flex;
            justify-content: center; /* Horizontal centering */
            padding: 1em 3em 1em 3em;
            align-items: center; /* Vertical centering */       
        }


        /*FAIG QUE SURTI BÉ EL TEXT ALIGN CENTER*/
        #capseleraTop ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }

        #capseleraBottom ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            
        }

        #contenidorItem2APAGINA ul li {
            text-align: center;
        }

        #contenidorItem2APAGINA ul {   
            list-style-type: none;
        }

        #contenidorItem2APAGINA {
            display:none;
        }


        /*POSO PADDINGS*/
        #capseleraTop ul {
            padding-top: 1em;
            padding-bottom: 1em;
        }

        #capseleraBottom ul {
            padding-top: 0.5em;
            padding-bottom: 0.5em;
            align-items: center;
            
        }

        img {
            width: 2em;
        }


        /*POSEM ELS HOVERS DE LA IMATGE*/
        img {transition: transform 0.2s ease-in-out;}
        img:hover {transform: scale(1.5);} 


        /*POSEM NEGRETA A L'ENUNCIAT (element p) I POSEM UN MARGIN TOP 
        A LES OPCIONS DE RESPOSTA (elements input), RESPECTIVAMENT*/
        .contenidorFormPregunta form input {
            margin-top: 1.5em;      
        }
        .contenidorFormPregunta form p {font-weight: bold;}

        /*FAS QUE SURTIN ELS BOTONS DEL FORMULARI DE LA PREGUNTA UN DAMUNT DE L'ALTRE*/
        #embolcallBotonsFormPregunta {
            padding-top: 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        /*POSES EL BOTO PER TORNAR A ENDARRERE COM UN TEXT I NO UN BOTO I ESTILITZES EL BOTO PER COMPROVAR LA PREGUNTA
        aquest botons pertanyen a #embolcallBotonsFormPregunta  */
        
        #boto_comprova {
            margin-top: 1em;
            padding-left: 2em;
            padding-right: 2em;
            /* FAIG QUE ALHORA EL COLOR BACKGROUND PASSI DE VERD A VERD FOSC DURANT EL HOVER
            I QUE LA SOMBRA DE LA BOX SHADOW APAREGUI TAMBÉ AMB EASE IN I OUT AMB EL MATEIX TEIMPS */
            transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }        
        
        
        #boto_comprova:hover {
            background-color: rgb(25, 124, 25);
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
        }


        #btn_retorn_primeraPg {
            border: 1px solid rgba(128, 128, 128, 0.359);
            background-color: white; 
            color: var(--temaPrincipal_verd);
            margin-top: 1em; 
            
            /* fa transicio del white del backgroudn color al verd fosc 
            amb 0.2 segons tant en entrada com amb sortida */
            transition: background-color 0.1s ease-in-out; 
        }



        #btn_retorn_primeraPg:hover {
            border: 1px solid green;
            background-color: rgba(0, 128, 0, 0.05); 
            color: rgb(2, 69, 2);
            
        }

        .contenidorFormPregunta {
            margin-right: 10%;
            margin-left: 10%;
        }

        /* ########################################################*/
        /* INICI 6 MEDIA QUERIES (DE PANTALLA MES GRAN A MES PETITA*/
        /* ########################################################*/

        /*1. MOBIL GRAN*/
        @media screen and (max-width: 800px) {
            .contenidorFormPregunta {
                margin-right: 5%;
                margin-left: 5%;
                color: blue;
            }
        }

        /*2. MOBIL MES PETIT*/
        @media screen and (max-width: 700px) {
            .contenidorFormPregunta {
                margin-right: 2%;
                margin-left: 2%;
                color: green;
            }

            .contenidorFormPregunta button {
                font-size: medium;
            }
        }

        /*3. MOBIL MES PETIT ENCARA*/
        @media screen and (max-width: 500px) {
            .contenidorFormPregunta {
                margin-right: 1%;
                margin-left: 1%;
                color: orange;
            }
            .contenidorFormPregunta button {
                font-size: medium;
            }
        }


        /*4. MOBIL MES PETIT ENCARA*/
        @media screen and (max-width: 400px) {
            body {
                font-size: .8em;
            }
            .contenidorFormPregunta {
                margin-right: 0%;
                margin-left: 0%;
                color: purple;
            }
            .contenidorFormPregunta button {
                font-size: medium;
            }
        }        
        
        /*5. MOBIL ULTRA PETIT*/
        @media screen and (max-width: 300px) {
            body {
                font-size: .6em;
            }
            .contenidorFormPregunta {
                margin-right: 0%;
                margin-left: 0%;
                color: brown;
                
            }
            .contenidorFormPregunta button {
                font-size: xx-small;
            }
        }

        /*6. MOBIL ULTRA ULTRA PETIT*/
        @media screen and (max-width: 200px) {
            body {
                font-size: .4em;
            }
            .contenidorFormPregunta {
                margin-right: 0%;
                margin-left: 0%;
                color: red;
            }
            .contenidorFormPregunta button {
                font-size: .9em;
                border-radius: 1px;
            }
        }



    /* ########################################################*/
    /* FINAL 6 MEDIA QUERIES (DE PANTALLA MES GRAN A MES PETITA)  */
    /* ########################################################*/