:root {
    --temaPrincipal_verd: rgb(71, 152, 71); /* Red */
    }

.contenidorContenidorCarta {
    display: flex;
    justify-content: center;
    background-color: var(--colorBarraNavegacioSimple);
    
}


.contenidor-carta {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    
    padding-top: 4em;
    padding-bottom: 4em;


    
}

.contenidor-carta .ambBorder > img { /*selector descendent per evitar marcar els iconos que hi ha dins de l'span*/
    border: 1px solid black;
    border-radius: .7em;
}



.emfasisCarta {
    color: red;
    font-weight: bold;
}

.card {
    border: 1px solid green;
    border-radius: .5em;
    padding: .3em;
    width: 15em;
    color: black; 
    background-color: white;
    box-shadow: 0px -4px 12px rgba(191, 236, 190, 0.7);

    transition: transform ease-in-out 0.1s,
                box-shadow ease-in-out 0.1s; 
    
}

.card:hover {
    transform: scale(1.003);
    box-shadow: 0px -4px 12px rgba(255, 255, 255, 0.7);
}

.card header {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    margin-bottom: .2em;
    color: green;
    background-color: white;    
    padding-bottom: 1.2em;
    border-bottom: .05em solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Consider adding padding to control the spacing around the text */
}

.card section ul { list-style-type: none;}
.card section p {margin-bottom: .5em;}
.card section ul li img { /*ICONETS PETITS DE CADA CARTA*/
    margin-top: .5em;
    margin-bottom: .5em;

    transition: transform ease-in-out .2s, 
                opacity 0.2s ease-in-out;
}

.card section ul li img:hover {
    transform: scale(1.05);
    opacity: 0.8;
    
}




.card section ul li {
    display: flex;
    flex-direction: column; /* Stack the children vertically */
    align-items: center;    /* Center the children horizontally */
    text-align: center;     /* Center text inside the li */
}

.card section>img {
    margin-top: 1em;
}

.card footer {
    font-size: 0.9em;
    color: #666;
    text-align: center;
}







/*INICI IMATGE DIFUMINADA AMB GRADIENT*/

.contenidor-difuminat {
    position: relative;
    overflow: hidden;
    width: fit-content; /* Ajusta-ho segons calgui */
  }
  
  .contenidor-difuminat img {
    display: block;
    width: 100%; /* Ajusta-ho segons calgui */
  }
  
  .contenidor-difuminat::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30%; /* Ajusta l'alçada de l'efecte de difuminat */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 1) 100%);  /*baixar percentatge permet que la capa amb opacitat maxima acabi ababns*/
    pointer-events: none;
  }
  


/*FI IMATGE DIFUMINADA AMB GRADIENT*/






















/* media queries */

    /*1. MOBIL GRAN*/
    @media screen and (max-width: 800px) {
        .contenidor-carta {
            grid-template-columns: repeat(1, 1fr);
        }
    }


    
   /* @media screen and (max-width: 700px) {} /*2. MOBIL MES PETIT*/
   /* @media screen and (max-width: 500px) {} /*3. MOBIL MES PETIT ENCARA*/
   /* @media screen and (max-width: 400px) {}        
    
     /*1. MOBIL GRAN*/
     @media screen and (max-width: 289px) {
        .contenidor-carta {
            color: yellow;
        }

        .card {
            width: 13em;
        }
    }