header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: var(--colorBarraNavegacioSimple);


}
header div img {
    width: 1.4em;
    transform: scale(2.2);
    padding-left: .2em;
}

header div button {
    padding: 0.7em 0.9em; /*top i bottom a 0.6 per fer proporcio aurea mes o menys*/
    font-size: 1em;
    border-radius: .3em;
    border: .06em solid white;
    background-color: var(--temaPrincipal_verd);
    color: white;
    font-weight: bold;

  /* TRANSICIO PER AL HOVER */
  transition: background-color 0.15s ease-in-out,
  transform 0.15s ease-in-out; 
}

header div button:hover {
    background-color: rgb(90, 161, 90);
    transform: scale(1.01); /* Slightly increase the size */
}


@media (max-width: 500px) {
    header div button {
        font-size: .8em;
    }
    header div img {
        height: 1.5em;
    }
    header {
        padding: .8em;
    }

    header {
        background-color: yellow;
    }

}