:root {
    --temaPrincipal_verd: rgb(41, 142, 41); 
    --colorBarraNavegacioSimple: #55C2C3;
    --grisMeu: rgb(111, 109, 109); /*COLOR CONTORN PER DEFECTE FORMS*/
    --foscMeu: #333; /*COLOR ETIQUETA FORMULARIS*/
    --vermellMeu: rgb(255,0,0);

    --verdAlerta: rgb(76, 228, 119);
    --taronjaAlerta: orange;
    --vermellAlerta: red;
    --lilaAlerta: rgb(191, 110, 184);

    /*COLORS USATS EN FORMS A INPUTS*/
    --contorn_blau: rgb(0, 0, 219);
    --colorFonsInput: #fff;

    font-size: 1em;  /* PUC AUMENTAR LLEUGERAMENT AIXO O DISMINUIR-HO PER CANVAIR EL FONT SIZE */
}


*, html, body {
    margin: 0;
    padding: 0;
}



