:root {
    --temaPrincipal_verd: rgb(71, 152, 71); /* Red */
    }

.contenidorContenidorCarta {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin: 0;
}

.seccioPresentacio {
    background-color: var( --temaPrincipal_verd);
    padding-bottom: 4em;
}

.contenidor-carta {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1em;
    padding-top: 1em;
}


/*
.contenidor-carta {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}
*/


.card {
    border: 1px solid #ce4b4b;
    border-radius: .5em;
    padding: 16px;
    width: 15em;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.card header {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: .2em;
}
.card footer {
    font-size: 0.9em;
    color: #666;
}





/* media queries */

    /*1. MOBIL GRAN*/
    @media screen and (max-width: 800px) {
        .contenidor-carta {
            grid-template-columns: repeat(1, 1fr);
            color: orange;
        }
    }

    
   /* @media screen and (max-width: 700px) {} /*2. MOBIL MES PETIT*/
   /* @media screen and (max-width: 500px) {} /*3. MOBIL MES PETIT ENCARA*/
   /* @media screen and (max-width: 400px) {}        
    
 